imagenes
multimedia_2.txt
multimedia.txt
occurrence_2.txt
occurrence.txt
ocurrencias_completados.csv
ocurrencias_fallidas.csv
ocurrencias.csv
ocurrencias_parseado.csv
imagenes_buenas.txt
imagenes_malas.txt
