imagenes
multimedia_2.txt
multimedia.txt
occurrence_2.txt
occurrence.txt
ocurrencias_completados.csv
ocurrencias_fallidas.csv
ocurrencias.csv
ocurrencias_parseado.csv
imagenes_buenas.txt
imagenes_malas.txt
runs
training
mi_entorno
yolo_modelos
datasets
__pycache__
img_temporales
fichero.csv
__pycache__/globales.cpython-38.pyc
filas_pequeño.csv
__pycache__/globales.cpython-38.pyc
imagenes_deteccion
pandas_ficheros
imagenes_deteccion.zip
__pycache__/globales.cpython-38.pyc
yolov8n-cls.pt
pandas_ficheros.zip
prueba_1.csv
__pycache__/globales.cpython-38.pyc
prueba.webp
__pycache__/globales.cpython-38.pyc
yolo_modelos/yolo_detect.pt
yolo_modelos/yolo_detect.pt
yolo_modelos/yolo_detect.pt
