__pycache__
yolo_models
txt_files
temp_images
pandas_files
detection_images
runs
temp_images
datasets
images
~
__pycache__/globales.cpython-38.pyc
image
imagenes_deteccion.zip
prueba_1.csv
prueba.webp
pandas_ficheros.zip
yolov8n-cls.pt
yolo_models.7z
yolo_train_img_data.pkl
train_configurations/model_g.yaml
discard_images
yolov8n.pt
train_configurations
genus*
*.txt